.sub-team-col {
  width: 7.5em;
  margin: 0.1em 0 0.1em 0;
}

#Minions {
  border-left: 2px solid #db7925;
}

#Sentinel {
  border-left: 2px solid #54dbcd;
}

#Scuttles {
  border-left: 2px solid #57db51;
}

#Raptor {
  border-left: 2px solid #db3e25;
}

#Poros {
  border-left: 2px solid #5f001f;
}

#Krugs {
  border-left: 2px solid #b43fad;
}
