.match-inventory {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.match-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
}

@media (max-width: 702px) and (min-width: 500px) {
  .match-inventory {
    display: none;
  }
}
