
.game-participants-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 16em;
  height: 9em;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: var(--primary-surface) var(--secondary-surface);
}

@media (max-width: 986px) {
  .game-participants-container {
    display: none;
  }
}

