
.game-participants-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 16em;
  height: 9em;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 986px) {
  .game-participants-container {
    display: none;
  }
}
