:root {
  --background-color: white;
  --foreground-color: #f6f6f6;
  --debug-color: lightgreen;
  --text-navbar: #F5A9B8;
  --text-navbar-arrow: #e59bb0;
  --text-navbar-hover: #ed647f;
  --horizontal-separator: #5BCEFA;
  --text: black;
  --text-link: #5BCEFA;
  --card-background: #5BCEFA;
  --text-hiatus: #FF6961;

  --primary-surface: #f1f3f4;
  --secondary-surface: #fdffff;
}

img.svg {
  filter: brightness(0);
}
