
<div class="search-box">
  <select id="search-region">
    <option value="br1">BR1</option>
    <option value="eun1">EUN1</option>
    <option value="euw1" selected="selected">EUW1</option>
    <option value="jp1">JP1</option>
    <option value="kr">KR</option>
    <option value="la1">LA1</option>
    <option value="la2">LA2</option>
    <option value="na1">NA1</option>
    <option value="oc1">OC1</option>
    <option value="tr1">TR1</option>
    <option value="ru">RU</option>
    <option value="ph2">PH2</option>
    <option value="sg2">SG2</option>
    <option value="th2">TH2</option>
    <option value="tw2">TW2</option>
    <option value="vn2">VN2</option>
  </select>
  <input type="text" class="vertical-left" placeholder="GameName#Tag" (keydown)="onKey($event)" id="search-box"/>
  <button class="btn btn-primary" (click)="search()">Go</button>
</div>
