@if (profileOwner()) {
  <div class="match-history-game">
    @if (showProfileIcon()) {
      <app-match-profile-picture [summoner]="profileOwner()!.summoner"/>
    }
    <div class="match-info">
      <div class="match-quick-info">
        <div class="image-container">
          <img src="{{championIcon()}}"/>
        </div>
        <p id="{{winText()}}"> {{winText()}} </p>
      </div>
      <div class="spells">
        <app-match-spell [spellId]="profileOwner()!.summoner1Id"/>
        <app-match-spell [spellId]="profileOwner()!.summoner2Id"/>
        @if (doAugments())
        {
          <app-match-augment [augmentId]="profileOwner()!.playerAugment1"/>
          <app-match-augment [augmentId]="profileOwner()!.playerAugment2"/>
          <app-match-augment [augmentId]="profileOwner()!.playerAugment3"/>
          <app-match-augment [augmentId]="profileOwner()!.playerAugment4"/>
        }
      </div>
      <div class="match-extra-info">
        <p>{{gameDescription()}}</p>
        <p>{{gameDuration()}}</p>
      </div>
    </div>
    <div class="match-kda">
      <p>{{profileOwner()!.kills}} / {{profileOwner()!.deaths}} / {{profileOwner()!.assists}}</p>
      <p><small>KDA: </small>{{kda().toFixed(2)}}</p>
    </div>

    <div class="match-inventory">
      <div class="match-items">
  <!--      <MatchItem Version="@Version" ItemId="@Game.ProfileOwner.Item0"/>-->
  <!--      <MatchItem Version="@Version" ItemId="@Game.ProfileOwner.Item1"/>-->
  <!--      <MatchItem Version="@Version" ItemId="@Game.ProfileOwner.Item2"/>-->
  <!--      <MatchItem Version="@Version" ItemId="@Game.ProfileOwner.Item3"/>-->
  <!--      <MatchItem Version="@Version" ItemId="@Game.ProfileOwner.Item4"/>-->
  <!--      <MatchItem Version="@Version" ItemId="@Game.ProfileOwner.Item5"/>-->
      </div>
  <!--    <MatchItem Version="@Version" ItemId="@Game.ProfileOwner.Item6"/>-->
    </div>

  <!--  <GameParticipants Participants="Game.ParticipantsByTeam" ProfileOwner="@Game.ProfileOwner"/>-->

  </div>
}
