
.match-history-game {
  border-radius: 1em;
  background-color: var(--secondary-surface);
  margin: 0.5em 0.5em 0.5em 0.5em;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.match-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.match-quick-info {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.match-quick-info img {
  height: 115%;
  aspect-ratio: 1/1;
  object-fit: cover;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.match-quick-info .image-container {
  width: 5em;
  aspect-ratio: 1/1;
  border-radius: 1em;
  overflow: hidden;
}

.match-quick-info p {
  margin: 0;
}

.match-extra-info {
  margin: 0 0 0 1em;
  line-height: 0.25em;
  text-align: center;
  width: 7.5em;
}

.match-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
}

small {
  color: #a0a0a0;
}

.match-kda {
  line-height: 0;
  text-align: center;
}

#Victory {
  color: #79db70;
}

#Defeat {
  color: #db6b63;
}

.match-inventory {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spells {
  align-items: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  margin: 0 0 1.5em 0;
  width: 6.5em;
}
