@if (profileOwner()) {
  <div class="match-history-game">
    @if (showProfileIcon()) {
      <app-match-profile-picture [summoner]="profileOwner()!.summoner"/>
    }
    <div class="match-info">
      <div class="match-quick-info">
        <div class="image-container">
          <img src="{{championIcon()}}"/>
        </div>
        <p id="{{winText()}}"> {{winText()}} </p>
      </div>
      <div class="spells">
        <app-match-spell [spellId]="profileOwner()!.summoner1Id"/>
        <app-match-spell [spellId]="profileOwner()!.summoner2Id"/>
        @if (doAugments())
        {
          <app-match-augment [augmentId]="profileOwner()!.playerAugment1"/>
          <app-match-augment [augmentId]="profileOwner()!.playerAugment2"/>
          <app-match-augment [augmentId]="profileOwner()!.playerAugment3"/>
          <app-match-augment [augmentId]="profileOwner()!.playerAugment4"/>
        }
      </div>
      <div class="match-extra-info">
        <p>{{gameDescription()}}</p>
        <p>{{gameDuration()}}</p>
      </div>
    </div>
    <div class="match-kda">
      <p>{{profileOwner()!.kills}} / {{profileOwner()!.deaths}} / {{profileOwner()!.assists}}</p>
      <p><small>KDA: </small>{{kda().toFixed(2)}}</p>
    </div>

    <app-match-inventory [profileOwner]="profileOwner()!"/>

    <app-match-participants [participants]="participants()" [profileOwner]="profileOwner()!"/>

  </div>
}
