
<div class="profile">
  <div class="league-profile-icon">
    <img src="https://cdn.communitydragon.org/latest/profile-icon/{{summoner().profileIconId}}"/>
    <p>{{summoner().summonerLevel}}</p>
  </div>

  <div class="profile-info">
    <span><h1>{{summoner().gameName}}</h1><h1 class="lighter">#{{summoner().tagLine}}</h1></span>
    <div class="rank-container">
      @if (rank() == null) {
        <h1>Unranked</h1>
      } @else {
        <h1>{{rank()}}</h1>
        <small>{{lp()}} LP</small>
      }
    </div>

    @if (summoner().puuid != null)
    {
      <app-update-summoner [puuid]="summoner().puuid" [lastUpdated]="summoner().revisionDate"/>
    }
  </div>
</div>
