
<div class="profile">
  <div class="league-profile-icon">
    <img src="https://cdn.communitydragon.org/latest/profile-icon/{{summoner().profileIconId}}"/>
    <p>{{summoner().summonerLevel}}</p>
  </div>

  <div class="profile-info">
    <span><h1>{{summoner().gameName}}</h1><h1 class="lighter">#{{summoner().tagLine}}</h1></span>
    <div class="rank-container">
      <h1>Change me!</h1>
      <!--@if (Rank != null)
      {
        <p>LeaguePoints LP</p>
      }-->
    </div>

    @if (summoner().puuid != null)
    {
<!--      <UpdateProfile Puuid="@Puuid" LastUpdated="@LastUpdated"></UpdateProfile>-->
    }
  </div>


</div>
