.match-item {
  width: 2.5em;
  height: 2.5em;
  background-color: var(--primary-surface);
  margin: 0.25em;
  border-radius: 0.5em;
  overflow: hidden;
}

.match-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
